<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="deleteItemsConfig" type="CloudSyncHelper.DeleteItem.DeleteItemsConfigSection, CloudSyncHelper" />
    <section name="syncItemsConfig" type="CloudSyncHelper.SyncItem.SyncItemsConfigSection, CloudSyncHelper" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="PollingIntervalInSeconds" value="5" />
    <add key="TimeoutInMinutes" value="2" />
  </appSettings>
  <deleteItemsConfig>
  	<add executable="chrome.exe" deleteDirectory="%LOCALAPPDATA%\Google\Chrome\User Data\Default\Application Cache" />
  	<add executable="chrome.exe" deleteDirectory="%LOCALAPPDATA%\Google\Chrome\User Data\Default\Cache" />
  	<add executable="chrome.exe" deleteDirectory="%LOCALAPPDATA%\Google\Chrome\User Data\Default\GPUCache" />
  	<add executable="chrome.exe" deleteDirectory="%LOCALAPPDATA%\Google\Chrome\User Data\Default\Media Cache" />
  	<add executable="chrome.exe" deleteDirectory="%LOCALAPPDATA%\Google\Chrome\User Data\Default\Pepper Data" />
  </deleteItemsConfig>
  <syncItemsConfig>
    <add executable="chrome.exe" sourceDirectory="%LOCALAPPDATA%\Google\Chrome\User Data\Default" targetDirectory="D:\Dropbox\Home\Documents\Software\Installation Files\2. Cloud Storage\CloudSyncHelper\Chrome" />
  </syncItemsConfig>
</configuration>
